* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.img {
    width: 10vw;
    height: 60vh;
    margin: 1rem;
    border-radius: 1rem;
    object-fit: cover;
}

.active {
    width: 60vw;
    height: 60vh;
}

.img-container {
    height: 97vh;
    display: flex;
    align-items: center;
}